.about-me {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 1em 0px;
}
.expertise-item {
  min-height: 100vh;
  height: fit-content;
}


.title {
  display: inline-block;
  font-size: var(--text-3xl);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}
.title::after {
  content: "";
  display: block;
  width: 52px;
  padding-top: 3px;
  border-bottom: 2px solid #000;
}
.body {
  height: 100%;
  position: relative;
}
.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: var(--text-lg);
}

h3 {
  font-size: var(--text-md);
  color: var(--primary)
}
ul {
  list-style-type: "_ ";
}