.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  grid-gap: var(--space-2xl);
}
.article a {
  color:var(--primary);
}
.article a:hover {
  text-decoration: underline;
}

.title {
  display: inline-block;
  font-size: var(--text-3xl);
  margin-bottom: var(--space-lg);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}
.title::after {
  content: '';
  display: block;
  width: 52px;
  padding-top: 3px;
  border-bottom: 2px solid #000;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
