.expertise-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: .5em 0px;
}
.expertise-item {
  height: fit-content;
}
.expertise-item h2 {
  font-size: var(--text-2xl);
}
.expertise-item a {
  color: var(--primary);
}

.title {
  display: inline-block;
  font-size: var(--text-3xl);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}
.curved-line {
  position: absolute;
  z-index: -1;
}
.title::after {
  content: '';
  display: block;
  width: 52px;
  padding-top: 3px;
  border-bottom: 2px solid #000;
}
.body {
  height: 100%;
  position: relative;
}
.body h2 {
  padding: 1rem 0 .5rem 0;
}
.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: '_ ';
}
.sub-expertise-item {
  height: fit-content;
}
.subtitle {
  display: inline-block;
  font-size: var(--text-xl);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1px solid transparent;
  color: var(--primary);
}
.subtitle::after {
  content: '';
  display: block;
  width: 52px;
  padding-top: 3px;
  border-bottom: 1px solid var(--primary);
}
