.hero {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0em 1em;
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
  position: relative;
  height: 100vh;
  align-items: baseline;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  width:25vw;
  margin-left: auto;


}

.details {
  background: var(--background);
  left: 0;
  width: 100%;
  padding: var(--space-2xl) var(--size-gutter) 0;
  position: sticky;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
  color: var(--primary);
  position:sticky;
}

.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    max-width: 44rem;
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;

  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) var(--size-gutter) 0 0;
  }
}
