.hero {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0em 1em;
  max-width: var(--size-max-width);
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
  position: relative;
  height: 100vh;
  align-items: center;
  z-index: 2mm;
}

.image {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  width:20vw;
  margin-left: auto;
  float: center;
}

.details {
  float: left;
  padding: var(--space-2xl) 0;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: var(--space-xl) 0;
  color: var(--primary);
  /* display: inline; */
  transition: all 0.3 ease-in-out;
  transition: font-size 0.5s ease-in-out;
}
.content {
  font-size: var(--text-lead);
  font-weight: var(--semibold);
  margin: 0;
  transition: all 0.3s ease-in-out;
}
.logo {
  width: 15rem;
  height: 20rem;
  margin: 2rem 0;
  animation: animate-logo-stroke 4s ease-in-out 1s both;
  transition: all 1.5s ease-in-out;
}

@media (min-width: 480px) {
  .details {
    padding-top: var(--space-3xl);
  }
}

@media (min-width: 768px) {
  .hero {
    padding-top: var(--size-gutter);
  }

  .details {
    /* max-width: 44rem; */
    padding: var(--space-3xl) var(--size-gutter) 0;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;

  }

  .details {
    left: var(--size-gutter);
    padding: var(--space-3xl) 0;
  }
}

@keyframes animate-logo-stroke {
  0% {
    stroke-dashoffset: 3106.755126953125px;
    stroke-dasharray: 3106.755126953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3106.755126953125px;
  }
}
@keyframes animate-line-stroke {
  0% {
    stroke-dashoffset: 3106.755126953125px;
    stroke-dasharray: 3106.755126953125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3106.755126953125px;
  }
}

@keyframes checkmark-animation {
	40% {
		transform: scale(1);
	}
	55% {
		transform: scale(1.2);
	}
	70% {
		transform: scale(1);
	}
	100% {
		stroke-dashoffset: 0;
		transform: scale(1);
	}
}